@font-face {
    font-family: 'Apercu Bold';
    src: url("../fonts/Apercu/Apercu\ Bold.otf");
}

@font-face {
    font-family: 'Apercu Light';
    src: url("../fonts/Apercu/Apercu-Light.otf");
}

@font-face {
    font-family: 'Apercu Medium';
    src: url("../fonts/Apercu/Apercu\ Medium.otf");
}

@font-face {
    font-family: 'Apercu Regular';
    src: url("../fonts/Apercu/Apercu\ Regular.otf");
}

@font-face {
    font-family: 'Apercu Semibold';
    src: url("../fonts/Apercu/Apercu\  Semibold.otf");
}


@font-face {
    font-family: 'Classico Regular';
    src: url(../fonts/Classico/ClassicoURW-Reg.otf);
}

@font-face {
    font-family: 'Classico Bold';
    src: url(../fonts/Classico/ClassicoURW-Bol.otf);
}

@font-face {
    font-family: 'Classico URW';
    src: url(../fonts/Classico/URWClassicoTEEMed.ttf);
}