@import url(../assets/css/animations.css);
@import url(../assets/css/fonts-import.css);
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");


body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


/* ================== */
/* Main website style */
/* ================== */

.website-container {
    display: inline-block;
    width: 100%;
}

.website-content {
    display: inline-block;
    width: 100%;
}



/* ================= */
/* TRANSITION BANNER */
/* ================= */
.sct-banner {
    background: url("../assets/img/transition-banner.png");
    height: 60vh;
    background-position: center center;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding-left: 10vw;
}

.sct-banner__illustraion-title {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
}


